.header {
  padding-top: 0px;
  text-align: center;
  background: #48cae4;
  color: white;
  font-size: 20px;
   margin-top: 0px;
}

body {
  font-family: Arial;
  margin: 0;
    padding: 0;
}     
              
        
ul {
  list-style-type: none;
 margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aliceblue;
    outline-color: darkslateblue;
    outline-width: thin;
}


.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-radius: 6px;
   background-color: aliceblue; 
}


a {
   color: black;
  text-align: center;
    float :left;
  padding-left: 65px;
    padding-right: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 20px;
    margin-top: -15px;
text-decoration-line: none
}


.pill-nav a:hover {
  background-color: #74CEE6;
  color: black;
}


.pill-nav a.active {
  background-color: #4472C4;
  color: white;
}

.content {         
    padding:20px;
    text-align: left;
    font-size-adjust: auto;
    font-size: 15px
        }


p {
    text-align: center;