.header {
  padding: 2px;
    margin: 0px;
  text-align: center;
  background: #48cae4;
  color: white;
  font-size: 20px;
  font-family: Arial;
}


body {
  font-family: Arial;
  margin: 0;
    padding: 0;
}     

.content {         
    padding:20px;
    text-align: left;
    font-size-adjust: auto;
    font-size: 15px
        }

p {
    text-align: center;