body {
    background-image: url(man%20of%20culture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: center fixed;
    background-size: cover;
    color: azure;
   
        
}

ul.p {
    list-style-type: circle
}

.e {
    background-color:rgba(0,0,0,0.5);
        text-align: center
}

.a {background-color:rgba(0,0,0,0.5);
    text-align: center
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
