body {
    background-image:url(IMG-1958.JPG)  ;
    background-repeat: repeat; height: =100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: azure
}


.yes{
    background-color:rgba(0,0,0,0.5)
    
}

.white{
    background-color:rgba(50,50,50,0.9);
       
